In [1]:
import pandas  as pd
import lux

#修改  删除passengerId  ****************

In [2]:
titanic=pd.read_csv(r'./train.csv')

In [3]:
titanic.head()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [4]:
titanic['Sex'] = titanic['Sex'].map({'female': 0, 'male': 1})
titanic['Fare'].fillna(titanic['Fare'].mean())

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [5]:
titanic

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [6]:
titanic.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [7]:
titanic.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [8]:
titanic.groupby('Embarked').sum()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [9]:
titanic.loc[titanic['Embarked'].isnull()]

     Survived  Pclass  Sex   Age  SibSp  Parch  Fare Embarked
61          1       1    0  38.0      0      0  80.0      NaN
829         1       1    0  62.0      0      0  80.0      NaN

In [10]:
titanic.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [11]:
# titanic.loc[(titanic.Embarked.isnull()), 'Embarked'] = 'S'
titanic['Embarked'].fillna('S',inplace=True)

In [12]:
titanic['Embarked'].notnull().sum()

891

In [13]:
titanic.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [14]:
Embarked=pd.get_dummies(titanic['Embarked'])

In [15]:
Embarked

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]

In [16]:
titanic=pd.concat([titanic,Embarked],axis=1)

In [17]:
titanic=titanic.drop(['Embarked'],axis=1)

In [18]:
age_train=titanic.loc[titanic['Age'].notnull()]

age_test=titanic.loc[titanic['Age'].isnull()].drop(['Age'],axis=1)
age_train_target=age_train['Age']

In [19]:
age_train

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [20]:
age_train_target

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [21]:
age_train=age_train.drop(['Age'],axis=1)

In [22]:
# age_train.loc[age_train['Fare'].isnull()]
import numpy as np
age_train=np.tile(age_train,(5,1))
age_train_target=np.tile(age_train_target,(5,))

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

In [24]:
age_train_target

array([22., 38., 26., ..., 19., 26., 32.])

In [25]:
# transfer=StandardScaler()
# age_train=transfer.fit_transform(age_train)
# age_test=transfer.transform(age_test)

In [26]:
# estimator=RandomForestClassifier()
# param={'n_estimators':[i for i in range(10,1000,10)],'max_depth':[i for i in range(10,100,10)]}

In [27]:
# estimator=GridSearchCV(estimator,param_grid=param,scoring='neg_mean_squared_error',cv=5)

In [28]:
# estimator.fit(age_train,age_train_target.astype(int))

In [29]:
import joblib
estimator=joblib.load(r'./titanic.model')
age_predit=estimator.predict(age_test)

In [30]:
age_predit

array([25, 32, 35, 35, 32, 25, 35, 32, 35, 35, 25, 25, 32, 24, 32, 35, 36,
       25, 25, 32, 25, 25, 25, 32, 32, 25, 25, 36, 16, 25, 25,  1,  1, 25,
        2,  1, 35, 25, 32, 25, 32,  1, 25, 25,  2, 25, 35, 32, 25, 35, 25,
       25, 25, 32, 25, 25, 35, 32, 32, 32, 32, 25, 35,  1, 32, 32, 25, 32,
       25, 35, 32, 32, 25, 35, 32, 35, 25, 25,  2, 25, 25, 25, 25, 35, 25,
       25, 32, 32, 25, 25, 32, 25, 25, 25, 25, 25, 25, 25,  2, 25, 35, 25,
       25, 32, 25, 25, 35, 35, 25, 35,  1, 25, 35, 25, 35, 25, 25, 25, 35,
       32, 35, 35, 25, 16, 32, 35, 25, 25, 25, 32, 25, 25, 25, 25, 32, 25,
       25, 32, 25, 25, 32, 25, 25, 32, 32, 36, 25, 25, 32, 25, 25, 25, 32,
       25, 35, 25, 35, 25, 25, 16, 25,  1, 35, 25, 25, 25, 32, 35, 25, 35,
        1, 35, 35,  1, 25, 25, 16])

In [31]:
estimator.best_score_

-72.4624649859944

In [32]:
data=titanic.loc[titanic['Age'].isnull()].drop(['Age'],axis=1)

In [33]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [34]:
age_predit=pd.DataFrame(age_predit)

In [35]:
age_predit.columns=['Age']

In [36]:
age_predit

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

     Age
0     25
1     32
2     35
3     35
4     32
..   ...
172   35
173    1
174   25
175   25
176   16

[177 rows x 1 columns]

In [37]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [38]:
import joblib

In [39]:
# joblib.dump(estimator,'titanic.model')

In [40]:
data.shape

(177, 9)

In [41]:
age_predit.shape

(177, 1)

In [42]:
# data.loc[data['Age'].isnull()]

In [43]:
age_predit=age_predit.astype(int)

In [44]:
data.index = range(len(data))

In [45]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [46]:
age_predit

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

     Age
0     25
1     32
2     35
3     35
4     32
..   ...
172   35
173    1
174   25
175   25
176   16

[177 rows x 1 columns]

In [47]:
# pd.concat([age_predit.astype(int),data],axis=1)

In [48]:
data['Age']=age_predit

In [49]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [50]:
age_train=titanic.loc[titanic['Age'].notnull()]

In [51]:
age_train

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [52]:
data_new=pd.concat([age_train,data])

In [53]:
y=data_new['Survived']
x=data_new.drop(['Survived'],axis=1)

In [54]:
#drop时需要设定axis []</span>

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [57]:
import xgboost as xgb

In [58]:
dtrain=xgb.DMatrix(x_train,y_train)
dtest=xgb.DMatrix(x_test)

In [59]:
# 训练算法参数设置
params = {
    # 通用参数
    'booster': 'gbtree', # 使用的弱学习器,有两种选择gbtree（默认）和gblinear,gbtree是基于
                        # 树模型的提升计算，gblinear是基于线性模型的提升计算
#     'nthread': 4, # XGBoost运行时的线程数，缺省时是当前系统获得的最大线程数
#     'silent':0, # 0：表示打印运行时信息，1：表示以缄默方式运行，默认为0
#     'num_feature':4, # boosting过程中使用的特征维数
    'seed': 1000, # 随机数种子
    # 任务参数
    'objective': 'binary:logistic', # 多分类的softmax,objective用来定义学习任务及相应的损失函数
#     'num_class': 2, # 类别总数
    # 提升参数
    'gamma': 0.1, # 叶子节点进行划分时需要损失函数减少的最小值
#     'max_depth': 6, # 树的最大深度，缺省值为6，可设置其他值
    'lambda': 2, # 正则化权重
    'subsample': 0.7, # 训练模型的样本占总样本的比例，用于防止过拟合
    'colsample_bytree': 0.7, # 建立树时对特征进行采样的比例
    'min_child_weight': 3, # 叶子节点继续划分的最小的样本权重和
    'eta': 0.1, # 加法模型中使用的收缩步长   
    
}
plst = list(params.items())

In [60]:
plst

[('booster', 'gbtree'),
 ('seed', 1000),
 ('objective', 'binary:logistic'),
 ('gamma', 0.1),
 ('lambda', 2),
 ('subsample', 0.7),
 ('colsample_bytree', 0.7),
 ('min_child_weight', 3),
 ('eta', 0.1)]

In [61]:
xgb_estimator=xgb.train(plst,dtrain,50)
# sur_vived=xgb_estimator.predict(dtest)

In [62]:
test_data=pd.read_csv(r'./test.csv')

In [63]:
test_data['Sex'] = test_data['Sex'].map({'female': 0, 'male': 1})
test_data['Fare'].fillna(test_data['Fare'].mean())

0        7.8292
1        7.0000
2        9.6875
3        8.6625
4       12.2875
         ...
413      8.0500
414    108.9000
415      7.2500
416      8.0500
417     22.3583
Name: Fare, Length: 418, dtype: float64

In [64]:
Embarked_test=pd.get_dummies(test_data['Embarked'])
test_data=pd.concat([test_data,Embarked_test],axis=1)

In [65]:
test_data.drop(['Name','Ticket','Cabin','Embarked'],axis=1.,inplace=True)

In [66]:
need_age=test_data.loc[test_data['Age'].isnull()]
dont_need_age=test_data.loc[test_data['Age'].notnull()]

In [67]:

need_age.drop(['Age'],axis=1,inplace=True)

C:\Users\11488\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:3890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)

In [68]:
need_age

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [69]:
age_predit=estimator.predict(need_age)

In [70]:

age_predit=pd.DataFrame(age_predit)
age_predit.columns=['Age']

In [71]:
# need_age=pd.concat([need_age,age_predit.astype(int)],axis=1)

In [72]:
# need_age['Age']=age_predit

In [73]:
need_age.drop(['PassengerId'],axis=1,inplace=True)

C:\Users\11488\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:3890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)

In [74]:
# need_age=xgb.DMatrix(need_age)

In [75]:
# xgb_estimator.predict(need_age)

In [76]:
need_age.index=range(len(need_age))

In [77]:

need_age

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [78]:
need_age=pd.concat([need_age,age_predit.astype(int)],axis=1)

In [79]:
need_age

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [80]:
# need_age=pd.concat([need_age,dont_need_age])

In [81]:
dont_need_age.drop(['PassengerId'],axis=1,inplace=True)

C:\Users\11488\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:3890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)

In [82]:
dont_need_age

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [83]:

alldata=pd.concat([need_age,dont_need_age])

In [84]:
# Survived	Pclass	Sex	Age	SibSp	Parch	Fare	C	Q	
alldata[['Pclass','Sex','SibSp','Parch','Fare','C','Q','S','Age']]=alldata[['Pclass','Sex','Age','SibSp','Parch','Fare','C','Q','S']]

In [85]:

alldata.columns=[['Pclass','Sex','Age','SibSp','Parch','Fare','C','Q','S']]

In [86]:

alldata

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.

Please report this issue on Github: https://github.com/lux-org/lux/issues
  return method()

    Pclass Sex   Age SibSp Parch      Fare  C  Q  S
0        3   1  32.0     0     0    7.8958  0  0  1
1        1   0  32.0     0     0   31.6833  0  0  1
2        3   1  35.0     2     0   21.6792  1  0  0
3        3   0   1.0     1     2   23.4500  0  0  1
4        3   0  32.0     0     0    8.0500  0  0  1
..     ...  ..   ...   ...   ...       ... .. .. ..
409      3   0   3.0     1     1   13.7750  0  0  1
411      1   0  37.0     1     0   90.0000  0  1  0
412      3   0  28.0     0     0    7.7750  0  0  1
414      1   0  39.0     0     0  108.9000  1  0  0
415      3   1  38.5     0     0    7.2500  0  0  1

[418 rows x 9 columns]

In [87]:
alldata=xgb.DMatrix(alldata)
ans=xgb_estimator.predict(alldata)

In [89]:
ans=pd.DataFrame(ans)

In [92]:
ans.columns=['Survived']

In [96]:
ans

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

     Survived
0    0.335895
1    0.968511
2    0.119488
3    0.339573
4    0.753974
..        ...
413  0.627224
414  0.928462
415  0.350718
416  0.951426
417  0.057862

[418 rows x 1 columns]

In [99]:
ans[ans>0.5]=1
ans[ans<0.5]=0

In [100]:
ans

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

     Survived
0         0.0
1         1.0
2         0.0
3         0.0
4         1.0
..        ...
413       1.0
414       1.0
415       0.0
416       1.0
417       0.0

[418 rows x 1 columns]

In [105]:
ans.index=range(892,1310)

In [109]:
ans['Survived']=ans['Survived'].apply(int)

In [110]:
ans

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

      Survived
892          0
893          1
894          0
895          0
896          1
...        ...
1305         1
1306         1
1307         0
1308         1
1309         0

[418 rows x 1 columns]

In [111]:
ans.to_csv(r'./ans')