In [1]:
# -*-coding:utf-8-*-
'''
@File    :   shiyan1.py     
@Contact :   Tao1148852798@Gmail.com
@License :   (C)Copyright 2020

@Modify Time      @Author    @Version    @Desciption
------------      -------    --------    -----------
2020-09-30 上午11:56   TaoXianLong   3.7        None
'''
import pandas as pd
import matplotlib.pyplot as plt

In [2]:



global data
data = pd.read_csv(r'D:\QQ\1148852798\FileRecv\data.txt', sep=',', header=None)

In [3]:
data

        0   1      2      3
0    1940   1  98.96  64.81
1    1940   2  10.89  71.38
2    1940   3   6.22  14.39
3    1940   4  67.85  99.24
4    1940   5  31.70   5.09
..    ...  ..    ...    ...
907  2015   8  40.03  66.65
908  2015   9  23.61   9.50
909  2015  10  22.16  52.35
910  2015  11  18.18  86.57
911  2015  12  74.07  56.77

[912 rows x 4 columns]

In [1]:
# print(data)
columns = ['year', 'month', 'saleA', 'saleB']
data.columns = columns
data['year'] = data['year'].map(lambda x: str(x))
data['month'] = data['month'].map(lambda x: str(x))
data['date_time'] = data['year'].str.cat(data['month'], sep='-')
data = data.set_index('date_time')


def convert_data_to_timeseries(shop):
    return pd.Series(data['sale{}'.format(shop)], index=data['year'].str.cat(data['month'], sep='-'))


allsal = pd.DataFrame(list(zip(data['saleA'], data['saleB'])), index=data['year'].str.cat(data['month'], sep='-'))
allsal.columns = ['saleA', 'saleB']
allsal.plot()
plt.show()
print(data.describe())
print('A与B的相关系数为' + str(allsal['saleA'].corr(allsal['saleB'])))
print('A的均值为：' + str(convert_data_to_timeseries('A').mean()))
print('A的最大值为：' + str(convert_data_to_timeseries('A').max()))
print('A的最小值为' + str(convert_data_to_timeseries('A').min()))
print('B的均值为：' + str(convert_data_to_timeseries('B').mean()))
print('B的最大值为：' + str(convert_data_to_timeseries('B').max()))
print('B的最小值为' + str(convert_data_to_timeseries('B').min()))
allsal['saleA'].rolling(60).corr(allsal['saleB']).plot()
plt.show()

NameError: name 'data' is not defined

In [11]:
import numpy as np

In [13]:
a=np.array([[1,2,3],[4,5,6]])

In [14]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [15]:
b=np.tile(a,(5,1))

In [16]:
b

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [17]:
c=np.tile(a,(5,))

In [18]:
c

array([[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]])