In [1]:
import pandas  as pd
import lux

In [2]:
titanic=pd.read_csv(r'./train.csv')

In [3]:
titanic.head()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [4]:
titanic['Sex'] = titanic['Sex'].map({'female': 0, 'male': 1})
titanic['Fare'].fillna(titanic['Fare'].mean())

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [5]:
titanic

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [6]:
titanic.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [7]:
titanic.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [8]:
titanic.groupby('Embarked').sum()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [9]:
titanic.loc[titanic['Embarked'].isnull()]

     Survived  Pclass  Sex   Age  SibSp  Parch  Fare Embarked
61          1       1    0  38.0      0      0  80.0      NaN
829         1       1    0  62.0      0      0  80.0      NaN

In [10]:
titanic.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [11]:
# titanic.loc[(titanic.Embarked.isnull()), 'Embarked'] = 'S'
titanic['Embarked'].fillna('S',inplace=True)

In [12]:
titanic['Embarked'].notnull().sum()

891

In [13]:
titanic.info()

<class 'lux.core.frame.LuxDataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [14]:
Embarked=pd.get_dummies(titanic['Embarked'])

In [15]:
Embarked

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]

In [16]:
titanic=pd.concat([titanic,Embarked],axis=1)

In [17]:
titanic=titanic.drop(['Embarked'],axis=1)

In [18]:
age_train=titanic.loc[titanic['Age'].notnull()]

age_test=titanic.loc[titanic['Age'].isnull()].drop(['Age'],axis=1)
age_train_target=age_train['Age']

In [19]:
age_train

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [20]:
age_train_target

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [21]:
age_train=age_train.drop(['Age'],axis=1)

In [22]:
# age_train.loc[age_train['Fare'].isnull()]
import numpy as np
age_train=np.tile(age_train,(5,1))
age_train_target=np.tile(age_train_target,(5,))

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

In [24]:
age_train_target

array([22., 38., 26., ..., 19., 26., 32.])

In [25]:
# transfer=StandardScaler()
# age_train=transfer.fit_transform(age_train)
# age_test=transfer.transform(age_test)

In [26]:
# estimator=RandomForestClassifier()
# param={'n_estimators':[i for i in range(10,1000,10)],'max_depth':[i for i in range(10,100,10)]}

In [27]:
# estimator=GridSearchCV(estimator,param_grid=param,scoring='neg_mean_squared_error',cv=5)

In [28]:
# estimator.fit(age_train,age_train_target.astype(int))

In [29]:
import joblib
estimator=joblib.load(r'./titanic.model')
age_predit=estimator.predict(age_test)

In [30]:
age_predit

array([25, 32, 35, 35, 32, 25, 35, 32, 35, 35, 25, 25, 32, 24, 32, 35, 36,
       25, 25, 32, 25, 25, 25, 32, 32, 25, 25, 36, 16, 25, 25,  1,  1, 25,
        2,  1, 35, 25, 32, 25, 32,  1, 25, 25,  2, 25, 35, 32, 25, 35, 25,
       25, 25, 32, 25, 25, 35, 32, 32, 32, 32, 25, 35,  1, 32, 32, 25, 32,
       25, 35, 32, 32, 25, 35, 32, 35, 25, 25,  2, 25, 25, 25, 25, 35, 25,
       25, 32, 32, 25, 25, 32, 25, 25, 25, 25, 25, 25, 25,  2, 25, 35, 25,
       25, 32, 25, 25, 35, 35, 25, 35,  1, 25, 35, 25, 35, 25, 25, 25, 35,
       32, 35, 35, 25, 16, 32, 35, 25, 25, 25, 32, 25, 25, 25, 25, 32, 25,
       25, 32, 25, 25, 32, 25, 25, 32, 32, 36, 25, 25, 32, 25, 25, 25, 32,
       25, 35, 25, 35, 25, 25, 16, 25,  1, 35, 25, 25, 25, 32, 35, 25, 35,
        1, 35, 35,  1, 25, 25, 16])

In [31]:
estimator.best_score_

-72.4624649859944

In [32]:
data=titanic.loc[titanic['Age'].isnull()].drop(['Age'],axis=1)

In [33]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [34]:
age_predit=pd.DataFrame(age_predit)

In [35]:
age_predit.columns=['Age']

In [36]:
age_predit

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

     Age
0     25
1     32
2     35
3     35
4     32
..   ...
172   35
173    1
174   25
175   25
176   16

[177 rows x 1 columns]

In [37]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [38]:
import joblib

In [39]:
# joblib.dump(estimator,'titanic.model')

In [40]:
data.shape

(177, 9)

In [41]:
age_predit.shape

(177, 1)

In [42]:
# data.loc[data['Age'].isnull()]

In [43]:
age_predit=age_predit.astype(int)

In [44]:
data.index = range(len(data))

In [45]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [46]:
age_predit

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

     Age
0     25
1     32
2     35
3     35
4     32
..   ...
172   35
173    1
174   25
175   25
176   16

[177 rows x 1 columns]

In [47]:
# pd.concat([age_predit.astype(int),data],axis=1)

In [48]:
data['Age']=age_predit

In [49]:
data

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [50]:
age_train=titanic.loc[titanic['Age'].notnull()]

In [51]:
age_train

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [52]:
data_new=pd.concat([age_train,data])

In [53]:
y=data_new['Survived']
x=data_new.drop(['Survived'],axis=1)

In [54]:
#drop时需要设定axis []</span>

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [57]:
import xgboost as xgb

In [58]:
dtrain=xgb.DMatrix(x_train,y_train)
dtest=xgb.DMatrix(x_test)

In [59]:
# 训练算法参数设置
params = {
    # 通用参数
    'booster': 'gbtree', # 使用的弱学习器,有两种选择gbtree（默认）和gblinear,gbtree是基于
                        # 树模型的提升计算，gblinear是基于线性模型的提升计算
#     'nthread': 4, # XGBoost运行时的线程数，缺省时是当前系统获得的最大线程数
#     'silent':0, # 0：表示打印运行时信息，1：表示以缄默方式运行，默认为0
#     'num_feature':4, # boosting过程中使用的特征维数
    'seed': 1000, # 随机数种子
    # 任务参数
    'objective': 'binary:logistic', # 多分类的softmax,objective用来定义学习任务及相应的损失函数
#     'num_class': 2, # 类别总数
    # 提升参数
    'gamma': 0.1, # 叶子节点进行划分时需要损失函数减少的最小值
#     'max_depth': 6, # 树的最大深度，缺省值为6，可设置其他值
    'lambda': 2, # 正则化权重
    'subsample': 0.7, # 训练模型的样本占总样本的比例，用于防止过拟合
    'colsample_bytree': 0.7, # 建立树时对特征进行采样的比例
    'min_child_weight': 3, # 叶子节点继续划分的最小的样本权重和
    'eta': 0.1, # 加法模型中使用的收缩步长   
    
}
plst = list(params.items())

In [60]:
plst

[('booster', 'gbtree'),
 ('seed', 1000),
 ('objective', 'binary:logistic'),
 ('gamma', 0.1),
 ('lambda', 2),
 ('subsample', 0.7),
 ('colsample_bytree', 0.7),
 ('min_child_weight', 3),
 ('eta', 0.1)]

In [61]:
xgb_estimator=xgb.train(plst,dtrain,50)
sur_vived=xgb_estimator.predict(dtest)

In [62]:
sur_vived

array([0.12178414, 0.05795443, 0.10189046, 0.05547423, 0.20552371,
       0.95365113, 0.04213195, 0.43381178, 0.21128702, 0.04362154,
       0.8755819 , 0.8530793 , 0.40688658, 0.13564762, 0.22582619,
       0.55828625, 0.39744097, 0.27536052, 0.3033109 , 0.7542939 ,
       0.7136771 , 0.27957436, 0.2545887 , 0.15361829, 0.06092815,
       0.13664994, 0.04213195, 0.04362154, 0.89419997, 0.6297355 ,
       0.5586546 , 0.742164  , 0.1687387 , 0.6123743 , 0.1938657 ,
       0.0612515 , 0.50295234, 0.38952464, 0.28307298, 0.0944716 ,
       0.19109087, 0.11961749, 0.8729956 , 0.02507619, 0.14213355,
       0.5450584 , 0.9482092 , 0.02802848, 0.16217975, 0.42967683,
       0.334928  , 0.12440203, 0.086087  , 0.864549  , 0.02802848,
       0.8418797 , 0.62976575, 0.44956425, 0.18607226, 0.20469272,
       0.95099276, 0.08960773, 0.04530646, 0.2545887 , 0.0757202 ,
       0.11253382, 0.21124884, 0.643411  , 0.9415767 , 0.68391436,
       0.9510677 , 0.611812  , 0.45002413, 0.9453046 , 0.2212426 ,
       0.10052082, 0.5327181 , 0.8695413 , 0.045185  , 0.17898163,
       0.643411  , 0.04162397, 0.15543032, 0.8090593 , 0.251408  ,
       0.3337367 , 0.02507619, 0.04365071, 0.3977835 , 0.28814742,
       0.05795443, 0.56273174, 0.38952464, 0.28483877, 0.91114503,
       0.6118296 , 0.07846258, 0.4869422 , 0.06124372, 0.2710666 ,
       0.0437482 , 0.3818743 , 0.50789267, 0.26473546, 0.05590644,
       0.1243974 , 0.27293104, 0.6079736 , 0.9445317 , 0.79882604,
       0.91947967, 0.15543032, 0.13961965, 0.6118296 , 0.04362154,
       0.79269665, 0.04362154, 0.935184  , 0.03385215, 0.20835543,
       0.35190174, 0.83899486, 0.18690994, 0.65787727, 0.03689513,
       0.35565338, 0.36346206, 0.05787708, 0.42494667, 0.4222797 ,
       0.03295175, 0.34263903, 0.07855953, 0.05458828, 0.637683  ,
       0.1037055 , 0.89994437, 0.44899276, 0.03594588, 0.583075  ,
       0.02943171, 0.49851835, 0.94649315, 0.9651141 , 0.09446298,
       0.17824179, 0.05795443, 0.38928017, 0.20359379, 0.11900093,
       0.77956885, 0.0945341 , 0.07829229, 0.60552967, 0.40724835,
       0.18165113, 0.8365281 , 0.15549591, 0.10064867, 0.30741397,
       0.10865851, 0.30742237, 0.16217975, 0.02507619, 0.8365281 ,
       0.0945341 , 0.36590782, 0.02507619, 0.8538156 , 0.55566823,
       0.7354811 , 0.38345665, 0.9217816 , 0.10593367, 0.26904318,
       0.6044701 , 0.23606692, 0.20330828, 0.06790613, 0.308308  ,
       0.36346206, 0.26822007, 0.49014047, 0.05795443, 0.22685835,
       0.15543032, 0.8308114 , 0.33826816, 0.7057181 , 0.37965116,
       0.04162397, 0.08668259, 0.09833077, 0.0366728 , 0.8695413 ,
       0.853078  , 0.09295344, 0.3271716 , 0.05457038, 0.47869167,
       0.36977586, 0.27298537, 0.9060439 , 0.06956886, 0.20669632,
       0.18836433, 0.8365281 , 0.8295143 , 0.29100332, 0.49533084,
       0.04162397, 0.915198  , 0.83899486, 0.2529994 , 0.13407677,
       0.0944716 , 0.05433377, 0.9292138 , 0.36650974, 0.10921064,
       0.04365071, 0.5427177 , 0.07860537], dtype=float32)

In [66]:
ans=pd.DataFrame(sur_vived)

In [67]:
ans

D:\ana\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Lux defaults to Pandas when there is only a single column.
  return method()

            0
0    0.121784
1    0.057954
2    0.101890
3    0.055474
4    0.205524
..        ...
218  0.366510
219  0.109211
220  0.043651
221  0.542718
222  0.078605

[223 rows x 1 columns]

In [69]:
ans[ans>0.5]=1
ans[ans<0.5]=0